
.D {

}
.day-name {

    color:rgb(73, 76, 75);
    font-size: 3em
}
.container {
    width: 100%;

}
.delete {
    float: right;
    position: absolute;
    top: 93.4em;
    right: 5em;
}
.workouts {
    position:relative;
    margin-right: 10em;
    width: 100%;
}
