
.header {
    position: relative;
    width:100%;
}
.navLinks {
    list-style: none;
    color:aliceblue;
    float: right;
    margin-left: -1em;
}
a {
    color: rgb(255, 255, 255);
    list-style: none;
    text-decoration: none;
    justify-content: space-between;
    margin-right: 2em;
}