.profile {
    display: flex;
}
.userWorkouts {
    display: flex;
    justify-content: center;
    align-items: center;
}
.workoutInfo {
    background-color: rgb(124, 124, 124);
    width: 500px;
    border: 1px solid black;
    overflow: hidden;
    display: flex;
}
.workouts {
    display: flex;
}
.name {
    width: 100em;
}
.reps {
    width: 100em;
}
.sets {
    width: 100em;
}
.weight {
    width: 100em;
}
.deleteWorkout {
    width: 100em;
}
